*{
    box-sizing: border-box;
    background-color: transparent;
    color: #A32;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18pt;
}

html{
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background: black;
    background-repeat:no-repeat;
    background: -webkit-linear-gradient( to right, #eb5757, #000000);
    background: linear-gradient( to right, #eb5757, #000000);
    background: -webkit-linear-gradient( to right, #200122, #6f0000);
    background: linear-gradient( to right, #200122, #6f0000);
}

header h1{
    font-size: 2rem;
    text-align: center;
    position: relative;
    color: #9A989A;
}

header nav{
    text-align: center;
    font-size: 1.5rem;
}

#logo{
    float: left;
    width: 10%;
}

p{
    color: #9A989A;
}

a{
    color: #A32638;
}

summary{
    color: #9A989A;
}

details>p{
    color: #9A989A;
}

@media only screen and (min-device-width: 999px){

}

@media only screen and (min-device-width: 499px) and (max-device-width: 998px){

}

@media only screen and (max-device-width: 498px){
    [incr]{
        zoom: 2;
    }

    figure img{
        width: 100%;
        display: block;
    }

    [zooming]{
        zoom: .25;
    }
}