*{
    box-sizing: border-box;
    background-color: transparent;
    color: #A32;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18pt;
}

html{
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background: black;
    background-repeat:no-repeat;
    background: -webkit-linear-gradient( to right, #000000, #d93434);
    background: linear-gradient( to right, #000000, #d93434);
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 35%;
}

header h1{
    font-size: 2rem;
    color: #9A989A;
}

nav{
    text-align: center;
    font-size: 1.5rem;
}

#logo{
    width: 150px;
}

span{
    color:rgb(187, 90, 10);
}

p{
    color: #9A989A;
}

a{
    color: #9A989A;
}

summary{
    color: #9A989A;
}

details>p{
    color: #9A989A;
}

button{
    background-color: #9A989A;
    border-color: black;
}

@media only screen and (min-device-width: 999px){

}

@media only screen and (min-device-width: 499px) and (max-device-width: 998px){
    header{
        padding-right: 0%;
    }
}

@media only screen and (max-device-width: 498px){
    [incr]{
        zoom: 2;
    }

    figure img{
        width: 100%;
        display: block;
    }

    [zooming]{
        zoom: .25;
    }
}